body {
    background-image: url("pictures/spaceBackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.gridContainer .about {
    grid-area: au;
    background-color: wheat;
    text-align: left;
    color: black;
}

.gridContainer .ad1 {
    grid-area: ad1;
    color: white;
}

.gridContainer .ad2 {
    grid-area: ad2;
    color: white;
}

.gridContainer .gameImages {
    grid-area: gi;
    background-color: wheat;
}

.gridContainer .review {
    grid-area: re;
    background-color: wheat;
}

.gridContainer .payment {
    grid-area: pa;
}

.info {
    grid-area: in;
    background-color: wheat;
}

.gridContainerImages .itemImage1 {
    grid-area: image1;
}

.gridContainerImages .itemImage2 {
    grid-area: image2;
}

.gridContainerImages .itemImage3 {
    grid-area: image3;
}

.gridContainerImages .itemImage4 {
    grid-area: image4;
}

.gridContainerReviews .itemReview1 {
    grid-area: review1;
}

.gridContainerReviews .itemReview2 {
    grid-area: review2;
}

.gridContainerReviews .itemReview3 {
    grid-area: review3;
}

.gridContainerPayment .paymentInfo {
    grid-area: pi;
    background-color: wheat;
}

/*.gridContainerPayment .buttonGrid {
    grid-area: bg;
    background-color: lime;
}*/

.gridContainerPayment .paymentDifferentMethod {
    grid-area: pdm;
    background-color: wheat;
}

.gridContainerPayment .humbleGrid {
    grid-area: hg;
    background-color: wheat;
}

.gridContainerFAQnNews, .gridContainerFAQnNews .FAQtext {
    grid-area: fn;
    background-color: wheat;
    color: black;
    padding: 0.3125rem;
}

.list-group {
    grid-area: fn;
    background-color: lightblue;
    color: black;
    padding: 1rem;
    justify-content: flex-start;
    max-width: 100%;
    width: auto;
    font-size: 20px;
}


.gridContainerFAQnNews .news-button-grid {
    grid-area: nbt;
    color: black;
    justify-self: center;
}

.patchnote {
    grid-area: pn;
    width: 100%;
    height: 5rem;
    background-color: lightgrey;
    border: 1px solid black;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.adminButtonsEditRemove {
    grid-area: er;
    
}

.gridContainerFAQnNews.info {
    margin-top: 25%;
}

.infoButtons {
    text-decoration: none;
    color: black;
}

.errorMessages {
    text-align: left;
}

.loginForm {
    grid-area: lf;
    background-color: wheat;
    padding: 10px;
    border-radius: 15px;
}

.text-post {
    border: 1px solid black;
    background-color: wheat;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-post-header {
    background-color: lightgrey;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    width: 95%;
    /*margin: auto;*/
}

.text-post-text {
    background-color: lightgrey;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    width: 95%;
    margin-top: 0.7rem;
}

.text-post-image {
    background-color: lightgrey;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    width: 95%;
    margin-top: 0.7rem;
}

.comment {
    background-color: lightgrey;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    width: 95%;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    border: 0.1rem solid;
}

.comments {
    background-color: lightgrey;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    width: 95%;
    margin-top: 0.7rem;
}

.site-header {
    grid-area: fn;
    background-color: lightblue;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 10rem;
}

.user-review {
    grid-area: ur;
    padding: 0.5rem;
    border: 0.2rem solid black;
    
}

.revier-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    max-height: 3.2rem;
    flex-shrink: 0;
}

.revier-button a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.revier-button a:hover {
    background-color: dodgerblue;
    transform: scale(1.05);
}

.review-grid {
}

.review-column-positive {
    background-color: wheat;
    grid-area: rcp;
    width: 100%;
    padding: 1rem;
}

.review-column-middle {
    background-color: wheat;
    grid-area: rcm;
    width: 100%;
}

.review-column-negative {
    background-color: wheat;
    grid-area: rcn;
    width: 100%;
    padding: 1rem;
}

.review-column-positive-header  {
    grid-area: rcph;
    width: 100%;
    background-color: wheat;
}

.review-column-middle-header {
    grid-area: rcmh;
    width: 100%;
    background-color: wheat;
}

.review-column-negative-header {
    grid-area: rcnh;
    width: 100%;
    background-color: wheat;
}

.nav-button-login-logout a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.nav-button-login-logout a:hover {
    background-color: dodgerblue;
    transform: scale(1.05);
}



@media (min-width: 480px) {

    .create-review {
        display: grid;
        background-color: wheat;
        width: 100%;
        margin: auto;
        padding: 1rem;
        gap: 1rem;
    }


    .news, .text-post {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .gridContainer {
        padding: 5px;
        margin: 5px;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto auto 10%;
        grid-template-areas:
            "au au au au"
            "gi gi gi gi"
            "re re re re"
            "pa pa pa pa"
            "ad1 ad1 ad2 ad2"
            "in in in in";
    }

    .gridContainerImages {
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 50%;
        grid-gap: 5px;
        grid-template-areas:
            "image1"
            "image2"
            "image3"
            "image4";
    }

    .itemImage1 img, .itemImage2 img, .itemImage3 img, .itemImage4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div.about {
        font-size: 17px;
    }

    .gridContainerReviews {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 20%;
        grid-gap: 5px;
        grid-template-areas: "review1" "review2" "review3";
    }

    .itemReview1 img, .itemReview2 img, .itemReview3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
    }

    .gridContainerPayment {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        grid-template-areas:
            "pi"
            "bg"
            "pdm"
            "hg";
        height: auto;
    }

    .paymentInfo, .paymentDifferentMethod {
        font-size: 20px;
        text-align: center;
        padding: 5px;
    }

    .paymentInfo {
        height: auto;
    }

    .paymentDifferentMethod {
        height: fit-content;
    }

    .humbleImage {
        height: 20%;
        width: 30%;
    }

    .paymentButton {
        align-items: center;
    }





    .info {
        text-align: center;
        line-height: 12vh;
    }

    .gridContainerFAQnNews {
        margin: 15px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        grid-template-areas:
            ". fn fn fn . "
            ". in in in . ";
        gap: 5px;
        /*margin: auto;*/
    }

    .btn {
        font-size: 20px;
    }




    .gridContainerLoginOut {
        margin: 10%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto 50% auto;
        grid-template-areas:
            ". . ."
            ". lf ."
            ". . .";
        gap: 5px;
        width: auto;
    }

    .review-grid {
        display: flex;
        flex-direction: column;
        /*grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "fn"
            "."
            "rb"
            "rcph"
            "rcp"
            "rcnh"
            "rcn";*/
        gap: 0.3rem;
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    .review-column-positive, .review-column-middle, .review-column-negative {
        /*display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "ur rb"
            "ur .";*/
        gap: 1rem;
        /*/display: flex; 
        flex-direction: column;*/
        margin: auto;
        align-items: start;
        width: 100%;
    }

    .review-left-side {
        grid-area: rl;
        margin-left: 1rem;
        width: 100%;
    }

    .review-right-side {
        grid-area: rr;
        margin-left: 1rem;
        width: 100%;
    }



    .user-review {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-areas:
            "rl rr"
            "rl rr"
            "rl rr"
            "rb .";
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }


}

@media (min-width: 768px) {

    .create-review {
        display: grid;
        background-color: wheat;
        width: 100%;
        margin: auto;
        padding: 2rem;
        gap: 1rem;
    }

    .news, .text-post {
        width: 97%;
        margin: auto;
    }


    .gridContainer {
        padding: 5px;
        margin: 5px;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto auto auto 10%;
        grid-template-areas:
            "au au au au au au"
            "ad1 gi gi gi gi ad2"
            "ad1 re re re re ad2"
            "ad1 pa pa pa pa ad2"
            "in in in in in in";
    }

    div.about {
        font-size: 18px;
    }

    .gridContainerImages {
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 50%;
        grid-gap: 5px;
        grid-template-areas:
            "image1"
            "image2"
            "image3"
            "image4";
    }

    .itemImage1 img, .itemImage2 img, .itemImage3 img, .itemImage4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .gridContainerPayment {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        grid-template-areas:
            "pi pdm"
            "bg hg";
    }

    .paymentInfo, .paymentDifferentMethod {
        font-size: 20px;
        text-align: center;
        padding: 5px;
    }

    .paymentInfo {
        height: auto;
    }

    .paymentDifferentMethod {
        height: fit-content;
    }

    .humbleImage {
        height: 60%;
        width: 50%;
    }

    .btn {
        font-size: 30px;
    }

    .gridContainerFAQnNews {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fn fn fn fn fn "
            ". in in in . ";
        gap: 5px;
        /*margin: auto;*/
    }

    .review-grid {
        display: flex;
        flex-direction: column;
        /*grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "fn"
            "."
            "rb"
            "rcph"
            "rcp"
            "rcnh"
            "rcn";*/
        gap: 0.3rem;
        width: 95%;
        margin: auto;
        justify-content: center;
    }

    .review-column-positive, .review-column-middle, .review-column-negative {
        /*display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "ur rb"
            "ur .";*/
        gap: 1rem;
        /*/display: flex; 
        flex-direction: column;*/
        margin: auto;
        align-items: start;
        width: 100%;
    }

    .review-left-side {
        grid-area: rl;
        margin-left: 1rem;
        width: 100%;
    }

    .review-right-side {
        grid-area: rr;
        margin-left: 1rem;
        width: 100%;
    }



    .user-review {
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-areas:
            "rl rr rb"
            "rl rr rb"
            ". rr rb";
        width: 100%;
    }

    
}


@media (min-width: 1080px) {

    .create-review {
        display: grid;
        background-color: wheat;
        width: 90%;
        margin: auto;
        padding: 2rem;
        gap: 1rem;
    }

    .news, .text-post {
        width: 70%;
        margin: auto;
    }

    .gridContainer {
        padding: 5px;
        margin: 5px;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto auto auto auto 10%;
        grid-template-areas:
            ". au au au au au au ."
            "ad1 gi gi gi gi gi gi ad2"
            "ad1 re re re re re re ad2"
            "ad1 pa pa pa pa pa pa ad2"
            ". in in in in in in .";
    }

    div.about {
        font-size: 20px;
        padding: 5px;
    }

    .gridContainerImages {
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        grid-template-areas:
            "image1 image2"
            "image3 image4";
    }

    .gridContainerReviews {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        grid-template-areas: "review1 review2 review3";
    }

    .gridContainerPayment {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        grid-template-areas:
            "pi pdm"
            "bg hg";
    }

    .itemImage1 img, .itemImage2 img, .itemImage3 img, .itemImage4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
    }

    .itemReview1 img, .itemReview2 img, .itemReview3 img {
        width: 100%;
        height: 100%;
        background-size: cover;
        padding: 5px;
    }

    .paymentInfo, .paymentDifferentMethod {
        font-size: 30px;
        text-align: center;
        padding: 5px;
    }

    .paymentInfo {
        height: auto;
    }

    .paymentDifferentMethod {
        height: fit-content;
    }


    .btn {
        font-size: 40px;
    }

    .gridContainerFAQnNews {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 20% auto auto;
        grid-template-areas:
            ". nbt . . ."
            ". fn fn fn ."
            ". in in in .";
        gap: 5px;
        /*margin: auto;*/
    }

    .humbleImage {
        height: 70%;
        width: 30%;
        mix-blend-mode: multiply;
    }


    .adminButtons {
        justify-content: right;
    }

    .showPatchnotesList {
        margin: 0.3125rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 20% auto auto;
        grid-template-areas:
            "pn er";
    }

    .review-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fn fn"
            ". ."
            "rb ."
            "rcph rcnh"
            "rcp rcn";
        /*gap: 0.3rem;*/
        width: 95%;
        margin: auto;
        /*align-items: flex-start;
        justify-content: space-between;*/
    }

    .review-column-positive, .review-column-middle, .review-column-negative {
        /*display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "ur rb"
            "ur .";*/
        /*gap: 1rem;*/
        /*/display: flex; 
        flex-direction: column;*/
        margin: auto;
        align-items: start;
        width: 100%;
       
    }

    .review-left-side {
        grid-area: rl;
    }

    .review-right-side {
        grid-area: rr;
        
    }



    .user-review {
        display: inline-block;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        /*grid-template-areas:
            "rl rr rb"
            "rl rr .";*/
        width: 100%;
        height: auto
    }
}
